body{
  background-color: #7a5c31;
}
#harmony{
  font-family: 'Lato', sans-serif;
}
#p1{
  font-family: 'Noto Sans', sans-serif;
}
#p2{
  font-family: 'Noto Sans', sans-serif;
}
#p3{
  font-family: 'Noto Sans', sans-serif;
}
#p4{
  font-family: 'Noto Sans', sans-serif;
}
#p5{
  font-family: 'Noto Sans', sans-serif;
}
