body{
  background-color: #7a5c31;
}
#First{
text-align: center;
font-family: 'Lato', sans-serif;
}
#reddit{
  font-family: 'Noto Sans', sans-serif;
}
#starwars{
  font-family: 'Noto Sans', sans-serif;
}
#Freedom{
  font-family: 'Noto Sans', sans-serif;
}
