body{
  background-color: #7a5c31;
}

h1{
  text-align: center;
  font-family: 'Lato', sans-serif;
}
#first{
  text-align:center;
font-family: 'Noto Sans', sans-serif;
}


}
#harmony{
  font-family: 'Noto Sans', sans-serif;
}

#third{
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}
#fourth{
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

#vertex{
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}
#fifth{
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}
